.veritcal-slider {
  position: absolute;
  width: 80vh;
  transform: translate(-50%, -50%) rotate(-90deg);
  display: flex;
  top: 50%;
  left: 10%;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  background: linear-gradient(to right, transparent, #373d3f) border-box;
  border-radius: 0.5em;
  margin-top: 20vw;
  transition: background 0.2s ease-in-out;
}

.veritcal-slider.cold-temp {
  transition: background 0.2s ease-in-out;
  background: linear-gradient(to right, transparent, #373d3f) border-box;
}

.veritcal-slider.warm-temp {
  transition: background 0.2s ease-in-out;
  background: linear-gradient(to right, transparent, #394635) border-box;
}

.veritcal-slider.hot-temp {
  transition: background 0.2s ease-in-out;
  background: linear-gradient(to right, transparent, #19430d) border-box;
}

.veritcal-slider #thermostatNumber {
  height: 40px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: #fff;
  font-size: 4.25em;
  transform: rotate(90deg);
  transition: color 0.5s ease-in-out;
  padding-left: 22px;
}

input[type=range] {
  width: 85%;
  -webkit-apperance: none;
  appearance: none;
  background: transparent;
  height: 5px;
  border-radius: 5p;
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 0.5rem;
}

input[type=range]::-moz-range-track {
  height: 0.5rem;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-apperance: none;
  appearance: none;
  background-color: #fff;
  height: 2em;
  width: 0.5em;
  margin-top: -13px;
  outline: none;
  transition: box-shadow 0.2s ease-in-out;
}

input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  width: 0.5em;
  margin-top: -13px;
}

input[type=range]:hover::-webkit-slider-thumb {
  border: 1pxsolid #053a5f;
  border-radius: 2em;
  box-shadow: 0 0 50px 10px #48abe0;
}
