<div class="row weatherRow">
    <div class="col-3">
        <app-thermostat></app-thermostat>
    </div>

    <div class="col-6">
        <div id="currentTemp">
            {{currentTemp}}&deg;
        </div>

        <div class="currentConditions"> {{ currentConditions }}</div>

        <div class="container text-center ac-controls">
            <div class="row">
              <div class="col">
                <button type="button" 
                    class="btn btn-outline-primary btn-lg"
                    [ngClass]="{'active': isActive('cool')}"
                    (click)="setActive('cool')"> 
                    Cool
                </button>
              </div>
              <div class="col">
                <button type="button" 
                    class="btn btn-outline-danger btn-lg"
                    [ngClass]="{'active': isActive('heat')}"
                    (click)="setActive('heat')"> 
                    Heat</button>
              </div>
              <div class="col">
                <button type="button" 
                        class="btn btn-outline-light btn-lg" 
                        [ngClass]="{'active': isActive('fan')}"
                        (click)="setFanActive()">
                    <i class="fas fa-fan fan-icon position-absolute" [ngClass]="{'spin': isActive('fan')}"></i> Fan
                  </button>
              </div>
            </div>
          </div>

        
        <!-- <div class="row">
            <div class="col-4 offset-3">

                <div class="btn-group btn-group-sm btn-group-toggle tempControls" data-toggle="buttons">

                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="heat" autocomplete="off" checked> <a href="http://10.0.0.210/pins.php?=action=heat_on">Heat</a>
                    </label>
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="options" id="cool" autocomplete="off"> Cool
                    </label>
                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="options" id="off" autocomplete="off"> <a href="http://10.0.0.210/pins.php?=action=heat_off">Off</a>
                    </label>
                </div>
            </div>
            <div class="col-4">

                <div class="btn-group btn-group-sm btn-group-toggle tempControls" data-toggle="buttons">

                    <label class="btn btn-outline-secondary">
                        <input type="radio" name="fan" id="auto" autocomplete="off" checked> Auto
                    </label>
                    <label class="btn btn-outline-secondary active">
                        <input type="radio" name="fan" id="fanOff" autocomplete="off"> Off
                    </label>
                </div>
            </div>
        </div> -->
        
    </div>
    <div class="col fiveDayForecast">
        <h2>Forecast</h2>
        <div class="fiveDayList">
            <div *ngFor="let day of forecastArray" class="row">
                <div class="col">{{ day.period }}</div>
                <div class="col fiveDayTemp"> <strong>{{ day.maxTemp}}</strong>&deg; F / <strong>{{ day.minTemp}}</strong>&deg; F</div>
            </div>
        </div>
    </div>
</div>